name: Increase software version Workflow

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  version_increase:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Git
        run: |
          git config --global user.name "Version[Bot]"
          git config --global user.email "imabot.feathercore@noreply.com"

      - name: Set environment variables
        run: |
          echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_ENV
          echo "FEATHER_CORE_ROOT=$(pwd)" >> $GITHUB_ENV

      - name: Call increase_version script
        run: |
          chmod +x scripts/increase_version.sh
          ./scripts/increase_version.sh
